.contact-card{
	background: #fff;
	border-radius: 5px;
	margin: 30px auto;
	padding: 30px;
	width: 80%;
}
.contact-logo{
	padding: 0 25px 25px 25px;
}
.contact-heading{
	font-weight: bold;
	text-align: center;
}
.contact-subheading{
	align-self: center;
	color: rgba(0,0,0,0.6);
	font-size: 0.9em;
	text-align: center;
	width: 85%;
}
.wrap-input1{
	margin-bottom: 20px;
	width: 100%;
	z-index: 1;
}
.input1 {
	border: none;
	outline: none;
    background: #e6e6e6;
    color: #666666;
    display: block;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
}
input.input1 {
	border-radius: 25px;
	height: 50px;
	padding: 0 30px;
}
textarea.input1 {
    border-radius: 25px;
    min-height: 150px;
    padding: 12px 30px;
}
.contact1-form-btn {
	border: none;
	outline: none;
    background: #57b846;
    border-radius: 25px;
    color: #fff;
    font-family: Montserrat-Bold;
    font-size: 15px;
    height: 50px;
    line-height: 1.5;
    min-width: 193px;
    padding: 0 25px;
}
.invalid-text {
    color: #de2525d1;
    font-size: 0.73em;
    margin: 0 20px;
}
.toast-msg{
	text-align: center;
    background-color: rgba(0,0,0,.5);
    border-radius: 7px;
    bottom: 60px;
    color: #fff;
    display: none;
    font-size: 1em;
    left: 50%;
    padding: 10px 30px;
    position: fixed;
    transform: translate(-50%);
    z-index: 10;
}
@media only screen and (min-width: 800px) {
	.contact-card{
		display: flex;
		flex-direction: row;
	}
	.contact-logo{
		width: 50%;
	}
	.contact-form{
		width: 50%;
	}
	.contact-heading{
		font-size: 3em;
	}
	.contact-subheading{
		font-size: 0.9em
	}
}
@media only screen and (max-width: 800px) {
	.contact-card{
		display: flex;
		flex-direction: column;		
	}
	.contact-logo{
		width: 100%;
	}
	.contact-form{
		width: 100%;
	}
	.contact-heading{
		font-size: 2.5em;
	}
	.contact-subheading{
		font-size: 0.8em
	}
}