/* Global styles */
*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
body{
	background-color: #f2f2f2;
}
a{
	color:rgba(0,0,0, 0.87);
	text-decoration: none;
}
button{
	outline-style: none;
}

.flex-row{
	display: flex;
	flex-direction: row;
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.flex-wrap{
	flex-wrap: wrap;
}
.flex-center{
	align-items: center;
	justify-content: center;
}
.flex-start{
	align-items: center;
	justify-content: flex-start;
}
.flex-end{
	align-items: center;
	justify-content: flex-end;
}
.flex-space-between{
	align-items: center;
	justify-content: space-between;
}
.flex-space-around{
	align-items: center;
	justify-content: space-around;
}
.height-100-percent{
	height: 100%;
}
.width-100-percent{
	width: 100%;
}
.margin-0{
	margin: 0;
}
.padding-0{
	padding: 0;
}
.opacity-lighten-1{
	opacity: 0.87;
}
.opacity-lighten-2{
	opacity: 0.54;
}
.opacity-lighten-3{
	opacity: 0.38;
}
.text-decoration-none{
	text-decoration: none;
}
.fixed{
	position: fixed;
}
.none{
	display: none;
}
.hidden{
	visibility: hidden;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.cursor-pointer{
	cursor: pointer;
}
.section-shadow{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 2px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 800px) {
	.mobile-only{
		display: none;
	}
}
@media only screen and (max-width: 800px) {
	.desktop-only{
		display: none;
	}
}

/* Header */
.header{
	background: #fff;
	padding: 20px;
}
.header-logo{
	height: auto;
	width: 20%;
}
.header-desktop-options{
	width: 40%;
}
.header-desktop-options li{
	color: rgba(0,0,0,0.7);
	font-size: 1.3em;
	font-weight: bold;
	padding: 0 10px;
}
.header-mobile-options{
	padding: 0 10px;
	width: 30%;
}
.header-mobile-options a{
	padding: 0 5px;
}
.header-links{
	font-size: 0.8em;
}