.product-main-section{
	background: #fff;
	display: flex;
}
.product-image-section img{
	height: auto;
	width: 100%;
}
.product-title{
	color: rgba(0,0,0,0.8);
	font-weight: bold;
}
.product-price-section .mrp{
	color: rgba(0,0,0,0.7);
	font-size: 1.1em;
	padding-right: 10px;
	text-decoration: line-through;
}
.product-price-section .save{
	align-self: center;
	color: rgba(0,0,0,0.7);
	font-size: 0.8em;
}
.product-price-section .price{
	color: rgba(0,0,0,0.9);
	font-size: 1.7em;
	font-weight: bold;
	padding: 10px 0;
}
.size-section{
	padding-bottom: 20px;
}
.size-item{
	align-items: center;
	background-color: #FFF;
	border-radius: 50px;
	border: 1px solid rgba(0,0,0,0.8);
	color: rgba(0,0,0,0.8);
	cursor: pointer;
	display: flex;
	height: 45px;
	justify-content: center;
	margin: 10px 10px 0 0;
	min-width: 45px;
	padding: 0;
	text-align: center;
}
.size-item:hover{
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
}
.product-info-list{
	padding: 10px 40px 0 0;
}
.product-info-list ul{
	font-size: 0.8em;
	line-height: 20px;
	list-style-type: disc;
	padding: 10px 0 0 20px;
}
.product-info-heading{
	font-size: 0.7em;
}
.button-section button{
	border: none;
	color: white;
	outline: none;
	padding: 10px 0;
}
.wishlist-btn{
	background: rgb(164, 164, 164);
}
.buy-btn{
	background-color: #207DBD;
}

@media only screen and (min-width: 800px) {
	.product-main-section{
		border-radius: 5px;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 2px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		justify-content: space-between;
		margin: 30px auto;
		padding: 30px;
		width: 80%;
	}
	.product-image-section{
		width: 40%;
	}
	.product-detail-section{
		align-items: flex-start;
		width: 50%;
	}
	.product-title{
		font-size: 1.3em;
	}
	.product-price-section{
		padding: 10px 0;
	}
	.button-section button{
		border-radius: 5px;
		margin: 0 5px;
	}
	.button-section{
		padding: 20px 0;
	}
	.wishlist-btn{
		width: 25%
	}
	.buy-btn{
		width: 40%
	}
}
@media only screen and (max-width: 800px) {
	.product-main-section{
		box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
		flex-direction: column;
		margin: 0 auto 40px auto;
		padding-bottom: 10px;
		width: 100%;
	}
	.product-image-section{
		padding-bottom: 20px;
		width: 100%;
	}
	.product-detail-section{
		width: 100%;
	}
	.product-title{
		font-size: 1.15em;
		padding-left: 10px;
	}
	.product-price-section{
		padding: 10px;
	}
	.size-section{
		padding-left: 10px;
	}
	.product-info{
		padding-left: 10px;
	}
	.button-section{
		bottom: 0;
		position: fixed;
		z-index: 100; // I usually don't prefer high z but carousel forced my hand, I can overwrite the property but feeling lazy.
	}
	.wishlist-btn{
		width: 30%;
	}
	.buy-btn{
		width: 68%;
	}
}